.wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
}

.svgBg{
    width: 100%;
    height: 100%;
}
.svgBg img{
    width: 100%;
    height: 100%;
    user-select: none;
}

.redirectTo{
    position: absolute;
    top: 30%;
    left: 7%;
    font-size:calc(5px + 5vmin) ;
    user-select: none;
    padding: 0 1em;
    color: #54c1ab;
  text-shadow: .5px .5px .5px rgb(0, 0, 0);
}
.redirectTo a{
    color: inherit;  
    font-weight: bold;  
    text-decoration: underline;
}
